{% extends 'base.html.twig' %}

{% block title %}Dashboard RH{% endblock %}

{% block body %}
  <div class="container py-4">
    <h1 class="mb-4">Dashboard RH</h1>
    <div class="row g-3">
      <div class="col-6 col-md-3">
        <div class="card text-white bg-primary">
          <div class="card-body">
            <h5 class="card-title">Employés</h5>
            <p class="card-text display-6">{{ nb_employes }}</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="card text-white bg-success">
          <div class="card-body">
            <h5 class="card-title">Contrats</h5>
            <p class="card-text display-6">{{ nb_contrats }}</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="card text-white bg-warning">
          <div class="card-body">
            <h5 class="card-title">Missions</h5>
            <p class="card-text display-6">{{ nb_missions }}</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="card text-white bg-info">
          <div class="card-body">
            <h5 class="card-title">Régions</h5>
            <p class="card-text display-6">{{ nb_regions }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
