<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-cart-plus fa-lg mr-2"></i>
                <p>
                    PICK UP
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{{ path('app_pick_up_new') }}" class="nav-link">
                        <i class="nav-icon fas fa-plus-square fa-lg mr-2"></i>
                        <p>Ajouter colis</p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{{ path('app_pick_up_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-list fa-lg mr-2"></i>
                        <p>Liste des colis</p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{{ path('app_manifest_list_pick_ups') }}" class="nav-link">
                        <i class="nav-icon fas fa fa-check-circle fa-lg mr-2"></i>
                        <p>Créer manifeste</p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{{ path('app_manifest_index') }}" class="nav-link">
                        <i class="nav-icon fas fa fa-print fa-lg mr-2"></i>
                        <p>Imprimer manifeste</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<!-- /.sidebar-menu -->