{% extends 'base.html.twig' %}
{% block body %}
    
    {{ include('skill/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <a href="{{ path('app_skill_index') }}">Retour à la liste</a>
{% endblock %}