{# templates/bundles/TwigBundle/Exception/error403.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Accès interdit{% endblock %}

{% block body %}
    <h1>403 - Accès refusé</h1>
    <p>Désolé, vous n'avez pas les permissions pour accéder à cette page.</p>
{% endblock %}